<% include partials/header %>



	<h1>Mapbox testing</h1>
	<div id='map' style='width: 100%; height: 800px;'></div>



	<script type="text/javascript">
		
		$(document).ready(function(){

			
			var messages = <%-JSON.stringify(dl)%>;
			// console.log(messages);
			var msgO = JSON.parse(messages);
			console.log(msgO[0]);
			console.log(msgO.length);

			function generateCoord(c) {
				var lat = c[1];
				var lng = c[0];

				var leftTop = [lng, lat];
				var rightTop = [lng+0.002, lat];
				var rightDown = [lng+0.002, lat-0.002];
				var leftDown = [lng, lat-0.002];
				return [leftTop, rightTop, rightDown, leftDown];
			}
			// console.log(generateCoord([msgO[0].lat, msgO[0].lon]));

			function returnGeojsonObject(loc, height) {
				var o = {
					"type": "Feature",
                    "properties": {
						"height": height,		
					},	                        
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [[
                        	// generateCoord([msgO[0].lat, msgO[0].lon])
                        	loc[0],
                        	loc[1],
                        	loc[2],
                        	loc[3]
                        	
                        ]]
                    },
				}
				return o;
			}

			function generateGeojsonObjectList() {
				var ol = [];
				for (var i = 0; i < msgO.length; i++) {
					var height = msgO[i].ScanOn * 100;
					var loc = generateCoord([msgO[i].lat, msgO[i].lon]);
					ol.push(returnGeojsonObject(loc, height));
				}
				return ol;
			}
			// console.log(generateGeojsonObjectList());

			//mapbox 
			mapboxgl.accessToken = 'pk.eyJ1IjoieXVudGFvdyIsImEiOiJjamxqYmphZXcwYThzM3BvYTF4b2h5bDg3In0.8yAFnp1ye4odiwsvOxOi7w';
			var map = new mapboxgl.Map({
			    container: 'map',
			    // style: 'mapbox://styles/mapbox/streets-v9',
			    style: 'mapbox://styles/mapbox/light-v9',
			    center: [144.9631, -37.8136],
			    zoom: 11,
			    pitch: 60,
    			bearing: -30,
			});

			map.on('load', function() {
				console.log("map loaded");
				// Insert the layer beneath any symbol layer.
			    var layers = map.getStyle().layers;

			    var labelLayerId;
			    for (var i = 0; i < layers.length; i++) {
			        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
			            labelLayerId = layers[i].id;
			            break;
			        }
			    }

			    /*
				map.addLayer({
			        'id': '3d-buildings',
			        'source': 'composite',
			        'source-layer': 'building',
			        'filter': ['==', 'extrude', 'true'],
			        'type': 'fill-extrusion',
			        'minzoom': 15,
			        'paint': {
			            'fill-extrusion-color': '#aaa',

			            // use an 'interpolate' expression to add a smooth transition effect to the
			            // buildings as the user zooms in
			            'fill-extrusion-height': [
			                "interpolate", ["linear"], ["zoom"],
			                15, 0,
			                15.05, ["get", "height"]
			            ],
			            'fill-extrusion-base': [
			                "interpolate", ["linear"], ["zoom"],
			                15, 0,
			                15.05, ["get", "min_height"]
			            ],
			            'fill-extrusion-opacity': .6
			        }
			    }, labelLayerId);
			    */



		    	map.addLayer({
			        'id': 'test',
			        'type': 'fill-extrusion',
			        'source': {
			            "type": "geojson",
		                "data": {
		                    "type": "FeatureCollection",
		                    "features": generateGeojsonObjectList(),
		                },
			        },
			        'minzoom': 8,
			        'paint': {
			            'fill-extrusion-color': '#FF0000',
			            'fill-extrusion-height': ['get', 'height'],
			            'fill-extrusion-base': 10,
			            'fill-extrusion-opacity': .6
			        }
			    });


			})

		})

	</script>

<% include partials/footer %>